<!-- Given the template a name, and included in other template
by `\{\{template "name"\}\}` syntax. 
this comment of HTML DOM will not present in source code.//-->
{{define "footer"}}

<h1>copyright McLeod...</h1>
</body>
</html>
{{end}}